@import '~bulma';
@import "~bulma-carousel";
@import "~swiper/dist/css/swiper.min.css";
@import url( 'https://fonts.googleapis.com/css?family=Raleway:300,400,600');

* {
  font-family: Noto Sans Korean, sans-serif;
}

body {
  min-width: 320px;
}

.navbar {
  box-shadow: none;
}

.hero.is-info {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/image/main.jpg) no-repeat center center fixed;
  background-size: cover;
}

.logo {
  &__title {
    font-size: 1.5rem;
  }
}

